[submodule "util/color-control"]
	path = util/color-control
	url = git@github.com:EssentialBlocks/color-control.git
[submodule "util/dimensions-control"]
	path = util/dimensions-control
	url = git@github.com:EssentialBlocks/dimensions-control.git
[submodule "util/typography-control"]
	path = util/typography-control
	url = git@github.com:EssentialBlocks/typography-control.git
[submodule "util/unit-control"]
	path = util/unit-control
	url = git@github.com:EssentialBlocks/unit-control.git
